---
import { Image } from 'astro:assets';
import Layout from "@layouts/Layout.astro"
import hart_rond from '@src/assets/rondevormen/hart_rond.png'
import zon from '@src/assets/zon.jpg'
import uitzicht from '@src/assets/zweden_uitzicht.jpg'
import { getLangFromUrl, useTranslations, getStaticPaths } from '@src/i18n/utils';
export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
	<section class="s1 back-gray text-align-center text-gray">
		<div class="container">
			<Image src={hart_rond} alt="Mooyo logo" width={550} height={550}/>
			<div class="text">
				<h1 class="text-red">Mooyo</h1>
				<p>{t("index.s1.text1")}</p>
				<p>{t("index.s1.text2")}</p>
				<p>∞ ∞ ∞</p>
				<p>{t("index.s1.text3")}</p>
				<p>∞ ∞ ∞</p>
				<p>{t("index.s1.text4")}</p>
				<p>∞ ∞ ∞</p>
				<p>{t("index.s1.text5")}</p>
			</div>
		</div>
	</section>
	<section class="s2 back-red text-white">
		<div class="container">
			<Image src={zon} alt="tekening" width={500} height={500}/>
			<div>
				<h1 class="text-align-center">{t("index.s2.title")}</h1>
				<p set:html={t("index.s2.text")}></p>
				<p>Francis Weller</p>
			</div>
		</div>
	</section>
	<section class="s3 back-gray text-align-center">
		<div class="grid">
			<div>
				<p class="text-red text-align-center">{t("index.s3.col1.title")}</p>
				<p class="text-red text-align-center">{t("index.s3.col1.text1")}</p>
				<p class="text-gray text-align-justify" set:html={t("index.s3.col1.text2")}/>
			</div>
			<div>
				<p class="text-red text-align-center">{t("index.s3.col2.title")}</p>
				<p class="text-red text-align-center">{t("index.s3.col2.text1")}</p>
				<p class="text-gray text-align-justify" set:html={t("index.s3.col2.text2")}/>
			</div>
			<div>
				<p class="text-red">{t("index.s3.col3.title")}</p>
				<p class="text-red text-align-center">{t("index.s3.col3.text1")}</p>
				<p class="text-gray text-align-justify" set:html={t("index.s3.col3.text2")}/>
			</div>
		</div>
	</section>
	<section class="s4 back-black text-align-center text-red">
		<p class="p2" set:html={t("index.s4.text")} />
	</section>
	<section class="s5 back-white">
		<Image src={uitzicht} class="img" alt="zweden foto"/>
		<div class="text">
			<h1 class="text-red">Bram Geysen</h1>
			<p class="text-gray">Rondestraat 38 <br> 3000 Leuven, Belgium</p>
			<p class="text-gray title">Contact</p>
			<p class="text-red">[+32 473 52 30 94]</p>
			<p class="text-red">[bramgeysen@gmail.com]</p>
			<p class="text-gray title">Socials</p>
		</div>
	</section>
</Layout>

<style>
	section {
		padding: 2rem;
	}
	.s1, .s2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.s1 .container, .s2 .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 70rem;
		column-gap: 2rem;
	}
	
	.s3{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.s3 .grid{
		display: grid;
		grid-template-columns: 350px 350px 350px;
		column-gap: 2rem;
	}

	.s5 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}

	.s5 .img{
		width: 100%;
		height: auto;
	}

	.s5 .text{
		padding: 5rem;
	}

	.s5 .title{
		font-weight: 700;
	}
</style>
