---
import { Image } from 'astro:assets';
import Layout from "../../../layouts/Layout.astro"
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
import zon from '../../../assets/zon.jpg'
import vuur_camping from '../../../assets/vuur_camping.jpeg'
import zweden_uitzicht from '../../../assets/zweden_uitzicht.jpg'

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
    <section class="s1 back-gray text-align-center">
        <h1 class="text-red">{t("about.s1.title")}</h1>
        <p class="text-gray">{t("about.s1.text")}</p>
    </section>
    <section class="s2 back-white">
            <div class="img-container">
                <Image class="img" src={zon} alt="Tekening van de zon"/>
            </div>
            <div class="text">
                <h2 class="text-red">{t("about.s2.e1.title")}</h2>
                <p class="text-gray text-align-justify" set:html={t("about.s2.e1.text")}/>
            </div>
        
            <div class="text right row4">
                <h2 class="text-red">{t("about.s2.e2.title")}</h2>
                <p class="text-gray text-align-justify" set:html={t("about.s2.e2.text")}/>
            </div>
            <div class="img-container">
                <Image class="img row3" src={vuur_camping} alt="Foto kamperen met kampvuur"/>
            </div>
            <div class="img-container">
                <Image class="img" src={zweden_uitzicht} alt="Uitzicht op meer in Zweden"/>
            </div>
            <div class="text row2">
                <h2 class="text-red">{t("about.s2.e3.title")}</h2>
                <p class="text-gray p3" set:html={t("about.s2.e3.text1")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text2")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text3")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text4")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text5")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text6")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text7")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text8")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text8")}/>
                <p class="text-gray p3" set:html={t("about.s2.e3.text10")}/>
            </div>
    </section>
    <section class="s3 back-red text-white text-align-center">
        <h3 set:html={t('about.s3.text')}/>
        <p>[Ellen]</p>
    </section>
</Layout>

<style>
    .s1, .s3 {
        padding: 2rem;
    }

    .s2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 10rem;
    }

    .s2 .img{
        width: 100%;
        height: 100%;
    }
    
    .s2 .text{
        padding: 2rem;
        width: 80%;
    }
    .right{
        justify-self: end;
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-self: center;
        height: 40rem;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    /* Responsive */
    @media (max-width: 1550px){
        .s2 {
            grid-template-columns: 1fr;
        }

        .row3 {
            grid-row: 3;
        }

        .row4{
            grid-row: 4;
        }

        .text{
            justify-self: center;
        }

    }
</style>