---
import { Image } from 'astro:assets';
import Layout from "../../../layouts/Layout.astro"
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
import afrika from '../../../assets/afrika.png'
import vuur_camping from '../../../assets/vuur_camping.jpeg'

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('about.title')}>
    <section class="s1 back-gray text-align-center">
        <h1 class="text-red">{t("about.s1.title")}</h1>
        <p class="text-gray">{t("about.s1.text")}</p>
    </section>
    <section class="s2 back-white text-gray text-align-justify">
            <div class="center">
                <Image class="img" src={afrika} alt="Tekening van de zon" width={500} height={500} loading='eager'/>
            </div>
            <div class="text">
                <h2 class="text-red">{t("about.s2.e1.title")}</h2>
                <p>{t("about.s2.e1.text1")}<p/>
                <p>{t("about.s2.e1.text2")}<p/>
                <p>{t("about.s2.e1.text3")}<p/>
                <p>{t("about.s2.e1.text4")}<p/>
                <p>{t("about.s2.e1.text5")}<p/>
                <p>{t("about.s2.e1.text6")}<p/>
                <p>{t("about.s2.e1.text7")}<p/>
            </div>
        
            <div class="text right row4">
                <h2 class="text-red">{t("about.s2.e2.title")}</h2>
                <p>{t("about.s2.e2.text1")}<p/>
                <p>{t("about.s2.e2.text2")}<p/>
            </div>
            <div class="img-container">
                <Image class="img row3" src={vuur_camping} alt="Foto kamperen met kampvuur" width={1000} height={1000}/>
            </div>
    </section>
</Layout>

<style>
    .s1, .s3 {
        padding: 2rem 2rem; 
    }

    .s2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .s2 .text {
        padding: 3rem;
        height: auto;

    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
    }

    .img-container {
        width: 100%;
        height: auto;        
        min-height: 400px;   
        max-height: 700px;   
        overflow: hidden;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 1100px) {
        .s2 {
            grid-template-columns: 1fr;
        }

        .img-container {
            height: 400px; 
        }

        .s2 .text {
            padding: 2rem;
        }

        .row2 { grid-row: 2; }
        .row3 { grid-row: 3; }
        .row4 { grid-row: 4; }
    }

    @media (max-width: 600px) {
        .img-container {
            height: 300px; 
        }
        
        .s1 h1 { font-size: 1.8rem; }
    }
</style>