---
import { Image } from 'astro:assets';
import Layout from "../../layouts/Layout.astro"
import hart_rond from '../../assets/rondevormen/hart_rond.png'
import zon from '../../assets/zon.jpg'
import profiel from '../../assets/profiel-square.png'
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../i18n/utils';
import Prices from '@components/Prices.astro';
export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title='Home'>
	<section class="intro back-gray text-align-center text-gray center">
		<div class="container">
			<Image src={hart_rond} class="img" alt="Mooyo logo" width={550} height={550} loading="eager"/>
			<div class="text">
				<h1 class="text-red">Mooyo</h1>
				<p>{t("index.intro.text1")}</p>
				<p>{t("index.intro.text2")}</p>
				<p>∞ ∞ ∞</p>
				<p>{t("index.intro.text3")}</p>
				<p>∞ ∞ ∞</p>
				<p>{t("index.intro.text4")}</p>
			</div>
		</div>
	</section>
	<section class="welcome back-red text-white center">
		<div class="container">
			<Image src={zon} alt="tekening" class="img" width={500} height={500}/>
			<div>
				<h1 class="text-align-center">{t("index.welcome.title")}</h1>
				<p set:html={t("index.welcome.text")}></p>
				<p class="content-end">Francis Weller</p>
			</div>
		</div>
	</section>
	<section class="s3 back-gray text-align-center center">
		<div class="col3 text-gray text-align-justify">
			<div class="text-gray text-align-justify">
				<p class="text-align-center text-red bold">{t("index.s3.col1.title")}</p>
				<p>{t("index.s3.col1.text1")}</p>
				 <p>{t("index.s3.col1.text2")}<p/>
				 <p>{t("index.s3.col1.text3")}<p/>
			</div>
			<div class="text-gray text-align-justify">
				<p class="text-red text-align-center bold">{t("index.s3.col2.title")}</p>
				<p>{t("index.s3.col2.text1")}</p>
				<p>{t("index.s3.col2.text2")}</p>
				<p>{t("index.s3.col2.text3")}</p>
			</div>
			<div>
				<p class="text-red text-align-center bold">{t("index.s3.col3.title")}</p>
				<p>{t("index.s3.col3.text1")}</p>
				<p>{t("index.s3.col3.text2")}</p>
			</div>
		</div>
	</section>
	<section class="s4 back-red text-align-center text-white">
		<p class="p2 bold" set:html={t("index.s4.text")} />
	</section>
	<section class="profile back-white">
		<div class="img-container">
			<Image src={profiel} class="img" alt="Profiel foto van Bram Geysen"/>
		</div>
		<div class="text">
			<h1 class="text-red">Bram Geysen</h1>
			<p class="text-gray">Rondestraat 38 <br> 3000 Leuven, Belgium</p>
			<p class="text-gray title">Contact</p>
			<p class="text-red">[+32 473 52 30 94]</p>
			<p class="text-red"><a href="mailto:bramgeysen@gmail.com" class="text-red">[bramgeysen@gmail.com]</a></p>
			<p class="text-gray title">Socials</p>
		</div>
	</section>
	<Prices color='red' reconstructive={false} />
	<section class="s6 back-gray text-red text-align-center bold">
		<p>{t('index.s6.text1')}</p>
		<p>{t('index.s6.text2')}</p>
		<p>{t('index.s6.text3')}</p>
		<p>{t('index.s6.text4')}</p>
	</section>
</Layout>

<style>
	section {
		padding: 2rem;
	}
	.intro .container,
	 .welcome .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 70rem;
		column-gap: 2rem;
	}
	
	.welcome .img {
		max-width: 500px;
		max-height: 500px;
		width: 100%;
		height: auto;
	}
	.profile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}
	
    .img-container {
        width: 100%;
        height: 600px; 
        overflow: hidden;
    }
	.profile .img{
		position: relative;
		top: -10rem;
		min-width: 600px;
		width: 100%;
		height: auto;
		object-fit: cover;
  		object-position: bottom;
	}

	.profile .text{
		padding: 2rem;
	}

	.profile .title{
		font-weight: 700;
	}

	.content-end {
		text-align: end;
	}


	/* Responsive */

	@media (max-width: 1900px) {
		.profile .img {
			top: 0;
		}
	}

	@media (max-width: 1200px){
		.s3 .col3{
			grid-template-columns: auto;
		}
	}

	@media (max-width: 900px){

		.intro .container,
		.welcome .container,
		.profile {
			grid-template-columns: auto;
		}
		.intro .img{
			display: none;
		}

		.welcome .img, .profile .img{
			grid-row: 2;
			min-width: none;
		}

		.profile{
			padding: 0;
		}
		.profile .img{
			width: 100%;
		}
	}
</style>
