---
import "../styles/global.css"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    color: "red" | "gray"
}

const {color} = Astro.props

const sectionClasses = color === "red"
    ? "back-red text-white"
    : "back-gray text-black";

const buttonClasses = color === "red"
    ? "white-btn"
    : "red-btn";
---

<section class=`${sectionClasses} text-align-center`>
    <p>{t('layout.contact')}</p>
    <p>+32 473 52 30 94</p>
    
    <a href="mailto:bramgeysen@gmail.com" class="red-link-container">
        <button class=`${buttonClasses}`>
            <p class="bold">bramgeysen@gmail.com</p>
        </button>
    </a>
</section>

<style>
    section {
        padding: 1rem;
    }

    .red-link-container {
        text-decoration: none;
        display: inline-block; 
    }
</style>