---
import { languages } from "@src/i18n/ui";
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from "@src/i18n/utils";

const langFromUrl = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(langFromUrl);
---

<div class="taal-switch">
    {Object.entries(languages).map(([lang, label]) => (
        <a href={translatePath(`/${route || ""}`, lang)}>{label}</a>
    ))}
</div>

<style>
    .taal-switch{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}
</style>