---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

interface Props {
    pathname: string
}
const {pathname} = Astro.props;

---

<nav>
    <a href={translatePath('/')} class={pathname === translatePath('/') ? "text-red" : ""}>HOME</a>
    <a href={translatePath('/filosofie')} class={pathname === translatePath('/filosofie') ? "text-red" : ""}>{t('nav.filosofie')}</a>
    <a href={translatePath('/aanbod')} class={pathname === translatePath('/aanbod') ? "text-red" : ""}>{t('nav.aanbod')}</a>
    <a href={translatePath('/hartcirkels')} class={pathname === translatePath('/hartcirkels') ? "text-red" : ""}>{t('nav.hartcirkels')}</a>
    <a href={translatePath('/about')} class={pathname === translatePath('/about') ? "text-red" : ""}>{t('nav.about')}</a>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    a {
        padding: 0 0.7rem 0.5rem 0.7rem;
        display: inline-block;
        border-bottom: 1px solid white;
    }
    a:hover{
        transform: scale(1.2);
        border-color: var(--mooyo-red);
        transition: all 0.2s ease;
    }
</style>