---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    color: "white" | "red"
	reconstructive?: boolean 
}

const {color, reconstructive = true} = Astro.props

const sectionClasses = color === "red"
    ? "back-red text-white"
    : "back-white";

---

<section class=`center ${sectionClasses}`>
    <h2>{t('Prices.title')}</h2>
	<p class="online-p text-align-center">{t('Prices.text')}</p>
	<div class="flex">
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e1.title1')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e1.li1')}</li>
					<li>{t('Prices.e1.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<div>
					<p>{t('Prices.e1.details')}</p>
				</div>
			</div>
		</div>
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e5.title')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e5.li1')}</li>
					<li>{t('Prices.e5.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e5.details')}</p>
			</div>
		</div>
	</div>
	<div class="flex">
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e2.title1')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e2.li1')}</li>
					<li>{t('Prices.e2.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e2.details')}</p>
			</div>
		</div>
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e3.title')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e3.li1')}</li>
					<li>{t('Prices.e3.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e3.details')}</p>
			</div>
		</div>
	</div>
	{reconstructive && 
		<div class="reconstructive text-align-center card">
	    	<h4 class="bold text-red">{t('Prices.e4.title')}</h4>
			<p class="text-black">{t('Prices.e4.text1')}</p>
			<p class="text-black">{t('Prices.e4.text2')}</p>
		</div>
	}
</section>

<style>
    section {
		padding: 2rem;
	}

    .online-p {
        width: 75%;
		margin-bottom: 3rem;
    }

   .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; 
        width: 100%;
        gap: 2rem;
        perspective: 1000px; /* Geeft diepte aan de animatie */
    }

    .card {
        background-color: var(--mooyo-gray);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 2rem 0; 
        color: black;
        box-sizing: border-box;
    }

	.reconstructive {
		margin-top: 2rem;
	}
    
    .expanding {
        flex: 1;
        overflow: hidden;
		min-width: 0;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
		min-height: 400px 
    }
    
    .expanding:hover {
        flex: 2;
    }

	.main {
		margin-left: 2rem;
	}

    .details {
        opacity: 0;
        max-height: 0;
        transform: translateY(20px);
        transition: 
            opacity 0.5s ease-out,
            transform 0.4s ease-out,
            max-height 0.6s ease-in-out;
        visibility: hidden;
		width: 100vw;
    }
    
    .expanding:hover .details {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
		width: 100%;
        transform: translateY(0);
        transition-delay: 0.1s; 
    }
    
    .seeMore {
        margin-top: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        transition: opacity 1s ease;
    }

    .expanding:hover .seeMore {
        opacity: 0;
        height: 0;
        margin: 0;
        overflow: hidden;
    }



    @media (max-width: 1200px){
		.flex {
			flex-direction: column;
		}

		.card {
			width: 80%;
			margin: auto;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}
</style>