---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    color: "white" | "red"
}

const {color} = Astro.props

const sectionClasses = color === "red"
    ? "back-red text-white"
    : "back-white"
---

<section class=`center ${sectionClasses}`>
    <h2>{t('Prices.title')}</h2>
    <p class="online-p text-align-center">{t('Prices.text')}</p>
	<div class="col3">
		<div class="card">
            <h4 class="bold text-red">{t('Prices.e1.title1')}</h4>
			<ul class="infinity-list text-black">
			    <li>{t('Prices.e1.li1')}</li>
				<li>{t('Prices.e1.li2')}</li>
			</ul>
		</div>
		<div class="card">
		    <h4 class="bold text-red">{t('Prices.e2.title1')}</h4>
			<ul class="infinity-list text-black">
			    <li>{t('Prices.e2.li1')}</li>
				<li>{t('Prices.e2.li2')}</li>
			</ul>
		</div>
		<div class="card">
		    <h4 class="bold text-red">{t('Prices.e2.title2')}</h4>
			<ul class="infinity-list text-black">
			    <li>{t('Prices.e2.li3')}</li>
				<li>{t('Prices.e2.li4')}</li>
			</ul>
		</div>
	</div>
	<div class="text-align-center card">
	    <h4 class="bold text-red">{t('Prices.e1.title2')}</h4>
		<p class="text-black">{t('Prices.e1.text1')}</p>
		<p class="text-black">{t('Prices.e1.text2')}</p>
	</div>
</section>

<style>
    section {
		padding: 2rem;
	}

    .online-p {
        width: 75%;
    }

    .col3{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card {
		background-color: var(--mooyo-gray);
		padding: 2rem;
		border-radius: 0.5rem;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		margin: 1rem;
	}

    @media (max-width: 1200px){
		.col2 {
			display: flex;
			flex-direction: column;
			width: 70vw;
			max-width: 500px;
		}

		section {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
</style>