---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    color: "white" | "red"
	reconstructive?: boolean 
}

const {color, reconstructive = true} = Astro.props

const sectionClasses = color === "red"
    ? "back-red text-white"
    : "back-white";

---

<section class=`center ${sectionClasses}`>
    <h2>{t('Prices.title')}</h2>
	<div class="flex">
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e1.title1')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e1.li1')}</li>
					<li>{t('Prices.e1.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<div>
					<p>{t('Prices.e1.details')}</p>
				</div>
			</div>
		</div>
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e5.title')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e5.li1')}</li>
					<li>{t('Prices.e5.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e5.details')}</p>
			</div>
		</div>
	</div>
	<div class="flex">
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e2.title1')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e2.li1')}</li>
					<li>{t('Prices.e2.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e2.details')}</p>
			</div>
		</div>
		<div class="card expanding">
			<div class="main">
				<h4 class="bold text-red">{t('Prices.e3.title')}</h4>
				<ul class="infinity-list text-black">
					<li>{t('Prices.e3.li1')}</li>
					<li>{t('Prices.e3.li2')}</li>
				</ul>
				<p class="seeMore">{t('Prices.seeMore')}</p>
			</div>
			<div class="details">
				<p>{t('Prices.e3.details')}</p>
			</div>
		</div>
	</div>
	<div class="flex">
		<div class="patronen text-align-justify card expanding">
			<h4 class="bold text-red text-align-center">{t('Prices.patronen.title')}</h4>
			<p>{t('Prices.patronen.text')}</p>
			<p>{t('Prices.info')} <a href="mailto:bramgeysen@gmail.be">bramgeysen@gmail.be</a></p>
			<p class="seeMore">{t('Prices.seeMore')}</p>
			<div class="details">
				<div class="card-aanbod">
					<ul>
						<li><span class="bold">{t('Prices.label.format')}:</span> {t('Prices.patronen.format')}</li>
						<li><span class="bold">{t('Prices.label.for')}:</span> {t('Prices.patronen.for')}</li>
						<li><span class="bold">{t('Prices.label.location')}:</span> {t('Prices.patronen.location')}</li>
						<li><span class="bold">{t('Prices.label.max')}:</span> {t('Prices.patronen.max')}</li>
						<li><span class="bold">{t('Prices.label.data')}:</span> {t('Prices.patronen.data')}</li>
						<li><span class="bold">{t('Prices.label.price')}:</span> {t('Prices.patronen.price')}</li>
					</ul>
					<p>{t('Prices.patronen.lunch')}</p>
				</div>
				<p>{t('Prices.patronen.body1')}</p>
				<p>{t('Prices.patronen.body2')}</p>
				<p>{t('Prices.patronen.body3')}</p>
				<ul>
					<li>{t('Prices.patronen.li1')}</li>
					<li>{t('Prices.patronen.li2')}</li>
					<li>{t('Prices.patronen.li3')}</li>
					<li>{t('Prices.patronen.li4')}</li>
				</ul>
				<p class="text-gray">{t('Prices.collab')} <a href="www.Cominz.be">www.Cominz.be</a></p>
			</div>
		</div>
		<div class="reconstructive card expanding text-align-justify">
			<h4 class="bold text-red text-align-center">{t('Prices.reconstructive.title')}</h4>
			<p set:html={t('Prices.reconstructive.text')} />
			<p>{t('Prices.info')} <a href="mailto:bramgeysen@gmail.be">bramgeysen@gmail.be</a></p>
			<p class="seeMore">{t('Prices.seeMore')}</p>
			<div class="details">
				<div class="card-aanbod">
					<ul>
						<li><span class="bold">{t('Prices.label.format')}:</span> {t('Prices.reconstructive.format')}</li>
						<li><span class="bold">{t('Prices.label.for')}:</span> {t('Prices.reconstructive.for')}</li>
						<li><span class="bold">{t('Prices.label.location')}:</span> {t('Prices.reconstructive.location')}</li>
						<li><span class="bold">{t('Prices.label.max')}: </span>{t('Prices.reconstructive.max')}</li>
						<li><span class="bold">{t('Prices.label.data')}:</span> {t('Prices.reconstructive.data')}</li>
						<li><span class="bold">{t('Prices.label.price')}:</span> {t('Prices.reconstructive.price')}</li>
					</ul>
					<p>{t('Prices.reconstructive.lunch')}</p>
				</div>
				<p>{t('Prices.reconstructive.body1')}</p>
				<p>{t('Prices.reconstructive.body2')}</p>
				<p>{t('Prices.reconstructive.body3')}</p>
				<p>{t('Prices.reconstructive.body4')}</p>
				<ul>
					<li>{t('Prices.reconstructive.li1')}</li>
					<li>{t('Prices.reconstructive.li2')}</li>
					<li>{t('Prices.reconstructive.li3')}</li>
					<li>{t('Prices.reconstructive.li4')}</li>
					<li>{t('Prices.reconstructive.li5')}</li>
				</ul>
				<p class="text-gray">{t('Prices.collab')} <a href="www.Cominz.be">www.Cominz.be</a></p>
			</div>
		</div>
	</div> 	
	<p class="online-p text-align-justify">{t('Prices.text')}</p>
</section>

<style>
    section {
		padding: 2rem;
	}

   .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; 
        width: 100%;
        gap: 2rem;
        perspective: 1000px; /* Geeft diepte aan de animatie */
    }

    .card {
        background-color: var(--mooyo-gray);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 2rem 0; 
        color: black;
        box-sizing: border-box;
    }

    .expanding {
        flex: 1;
        overflow: hidden;
		min-width: 0;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
		min-height: 400px 
    }
    
    .expanding:hover {
        flex: 2;
    }

	.main {
		margin-left: 2rem;
	}

	.card-aanbod {
		border-bottom: 1px double gray;
	}

    .details {
        opacity: 0;
        max-height: 0;
        transform: translateY(20px);
        transition: 
            opacity 0.5s ease-out,
            transform 0.4s ease-out,
            max-height 0.6s ease-in-out;
        visibility: hidden;
		width: 100vw;
    }
    
    .expanding:hover .details {
        opacity: 1;
        visibility: visible;
        max-height: 1000px;
		width: 100%;
        transform: translateY(0);
        transition-delay: 0.1s; 
    }
    
    .seeMore {
        margin-top: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        transition: opacity 1s ease;
    }

    .expanding:hover .seeMore {
        opacity: 0;
        height: 0;
        margin: 0;
        overflow: hidden;
    }

	a {
		border-bottom: 1px solid var(--mooyo-red);
		color: var(--mooyo-red);
		font-weight: 700;
	}


    @media (max-width: 1200px){
		.flex {
			flex-direction: column;
		}

		.card {
			width: 80%;
			margin: auto;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}
</style>