---
import { Image } from 'astro:assets';
import Layout from "../../layouts/Layout.astro"
import mindfulness from '../../assets/img.png'
import meditatie from '../../assets/img.png'
import moed from '../../assets/img.png'
import reconstructive from '../../assets/img.png'

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
    <section class="s1 back-gray text-align-center">
        <h1 class="text-red">{t('filosofie.s1.title')}</h1>
        <p class="text-gray" set:html={t('filosofie.s1.text')}/>
    </section>
    <section class="s2 back-red text-white">
        <div class="grid">
            <div>
                <p class="title">{t('filosofie.s2.col1.title')}</p>
                <p>{t('filosofie.s2.col1.text1')}</p>
                <ul>
                    <li>{t('filosofie.s2.col1.list1')}</li>
                    <li>{t('filosofie.s2.col1.list2')}</li>
                    <li>{t('filosofie.s2.col1.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col1.text2')}</p>
                <p>{t('filosofie.s2.col1.text3')}</p>
            </div>
    
            <div>
                <p class="title">{t('filosofie.s2.col2.title')}</p>
                <p>{t('filosofie.s2.col2.text1')}</p>
                <p>{t('filosofie.s2.col2.text2')}</p>
                <ul>
                    <li>{t('filosofie.s2.col2.list1')}</li>
                    <li>{t('filosofie.s2.col2.list2')}</li>
                    <li>{t('filosofie.s2.col2.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col2.text3')}</p>
            </div>
    
            <div>
                <p class="title">{t('filosofie.s2.col3.title')}</p>
                <p>{t('filosofie.s2.col3.text1')}</p>
                <p>{t('filosofie.s2.col3.text2')}</p>
                <ul>
                    <li>{t('filosofie.s2.col3.list1')}</li>
                    <li>{t('filosofie.s2.col3.list2')}</li>
                    <li>{t('filosofie.s2.col3.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col3.text3')}</p>
            </div>
        </div>
    </section>

    <section class="s3 back-gray text-gray">
        <div class="grid">
            <div>
                <p class="title">{t('filosofie.s3.col1.title')}</p>
                <p>{t('filosofie.s3.col1.text1')}</p>
                <ul>
                    <li>{t('filosofie.s3.col1.list1')}</li>
                    <li>{t('filosofie.s3.col1.list2')}</li>
                    <li>{t('filosofie.s3.col1.list3')}</li>
                </ul>
                <p>{t('filosofie.s3.col1.text2')}</p>
            </div>
            <div>
                <p class="title">{t('filosofie.s3.col2.title')}</p>
                <p>{t('filosofie.s3.col2.text1')}</p>
                <ul>
                    <li>{t('filosofie.s3.col2.list1')}</li>
                    <li>{t('filosofie.s3.col2.list2')}</li>
                    <li>{t('filosofie.s3.col2.list3')}</li>
                </ul>
                <p>{t('filosofie.s3.col2.text2')}</p>
            </div>
            <div>
                <p class="title">{t('filosofie.s3.col3.title')}</p>
                <p>{t('filosofie.s3.col3.text1')}</p>
                <p>{t('filosofie.s3.col3.text2')}</p>
                <p>{t('filosofie.s3.col3.text3')}</p>
            </div>
        </div>
    </section>
    <section class="s4 back-red text-align-center text-white">
        <h1 set:html={t('filosofie.s4.title')}/>
        <p set:html={t("filosofie.s4.text")}/>
    </section>
    <section class="s5 back-gray text-align-center">
		<div class="grid">
			<div>
				<Image src={mindfulness} alt="Tekening van mindfulness" height={400} width={400}/>
				<p class="text-red">{t('filosofie.s5.e1.title')}</p>
				<p>{t('filosofie.s5.e1.text')}</p>
			</div>
	
			<div>
				<Image src={meditatie} alt="Tekening van meditatie" height={400} width={400}/>
				<p class="text-red">{t('filosofie.s5.e2.title')}</p>
				<p>{t('filosofie.s5.e2.text')}</p>
			</div>
	
			<div>
				<Image src={moed} alt="Tekening van moed" height={400} width={400}/>
				<p class="text-red">{t('filosofie.s5.e3.title')}</p>
				<p>{t('filosofie.s5.e3.text')}</p>
			</div>
	
			<div>
				<Image src={reconstructive} alt="Tekening van Reconstructive" height={400} width={400}/>
				<p class="text-red">{t('filosofie.s5.e4.title')}</p>
				<p>{t('filosofie.s5.e4.text ')}</p>
			</div>
		</div>
	</section>
    <section class="s6 back-red text-align-center">
        <div class="grid">
            <p class="text-white">{t('filosofie.s6.text1')}</p>
            <p class="text-black">{t('filosofie.s6.text2')}</p>
            <p class="text-white">{t('filosofie.s6.text3')}</p>
            <p class="text-black">{t('filosofie.s6.text4')}</p>
            <p class="text-white">{t('filosofie.s6.text5')}</p>
            <p class="text-black">{t('filosofie.s6.text6')}</p>
            <p class="text-white">{t('filosofie.s6.text7')}</p>
            <p class="text-black">{t('filosofie.s6.text8')}</p>
            <p class="text-white">{t('filosofie.s6.text9')}</p>
        </div>
    </section>
</Layout>

<style>
    section{
        padding: 2rem;
    }
    .s2, .s3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid{
        display: grid;
        grid-template-columns: 400px 400px 400px;
        column-gap: 2rem;
    }

    .title{
        font-weight: 600;
        font-size: 1.3rem;
    }

    .s5, .s6{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.s5 .grid {
		display: grid;
		grid-template-columns: 400px 400px;
		column-gap: 5rem;
	}

    .s6 .grid {
        grid-template-columns: 300px 300px 300px;
    }
</style>