<h1 class="text-red">Title h1 <span class="bold">bold</span></h1>
<h1 class="text-gray">Title h1 <span class="bold">bold</span></h1>
<h1 class="text-white">Title h1 <span class="bold">bold</span></h1>
<h1 class="text-black">Title h1 <span class="bold">bold</span></h1>
<h2 class="text-red">Title h2 <span class="bold">bold</span></h2>
<h2 class="text-gray">Title h2 <span class="bold">bold</span></h2>
<h2 class="text-white">Title h2 <span class="bold">bold</span></h2>
<h2 class="text-black">Title h2 <span class="bold">bold</span></h2>
<h3 class="text-red">Title h3 <span class="bold">bold</span></h3>
<h3 class="text-gray">Title h3 <span class="bold">bold</span></h3>
<h3 class="text-white">Title h3 <span class="bold">bold</span></h3>
<h3 class="text-black">Title h3 <span class="bold">bold</span></h3>
<p class="p1">P1 <span class="bold">bold</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto exercitationem nemo explicabo, similique nam qui? Id sequi quam perspiciatis numquam, laborum eum consectetur. Ratione quis laborum officia modi, nemo sint?</p>
<p class="p2">p2 <span class="bold">bold</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, a illum ad laborum alias mollitia unde repellat optio ea culpa repellendus enim impedit hic fugit deleniti delectus ducimus quisquam aut?</p>
<p>p <span class="bold">bold</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, a illum ad laborum alias mollitia unde repellat optio ea culpa repellendus enim impedit hic fugit deleniti delectus ducimus quisquam aut?</p>
<p class="bold">bold Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, a illum ad laborum alias mollitia unde repellat optio ea culpa repellendus enim impedit hic fugit deleniti delectus ducimus quisquam aut?</p>