---
import { Image } from 'astro:assets';
import Layout from "../../../layouts/Layout.astro"
import adem_rond from '../../../assets/rondevormen/adem_rond.png'
import bewustzijn_rond from '../../../assets/rondevormen/bewustzijn_rond.png'
import hart_rond from '../../../assets/rondevormen/hart_rond.png'
import lichaam_rond from '../../../assets/rondevormen/lichaam_rond.png'

import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
import ContactSection from '@components/Contact-section.astro';
export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("filosofie.title")}>
    <section class="s4 back-red text-align-center text-white">
        <h1 set:html={t('filosofie.s4.title')}/>
        <p set:html={t("filosofie.s4.text1")}/>
        <p class="bold" set:html={t("filosofie.s4.text2")}/>
    </section>
    <section class="s5 back-gray text-align-center center text-gray">
        <div class="col2">
            <div>
                <h3 class="text-red">{t('filosofie.s5.e1.title1')}</h3>
                <Image src={bewustzijn_rond} alt="Tekening van bewustzijn" height={500} width={500}/>
                <h4 class="text-red">{t('filosofie.s5.e1.title2')}</h4>
                <ul class="text-align-justify infinity-list">
                    <li>{t('filosofie.s5.e1.list1')}</li>
                    <li>{t('filosofie.s5.e1.list2')}</li>
                    <li>{t('filosofie.s5.e1.list3')}</li>
                    <li>{t('filosofie.s5.e1.list4')}</li>
                    <li>{t('filosofie.s5.e1.list5')}</li>
                </ul>
            </div>
    
            <div>
                <h3 class="text-red">{t('filosofie.s5.e2.title1')}</h3>
                <Image src={adem_rond} alt="Tekening van adem" height={500} width={500}/>
                <h4 class="text-red">{t('filosofie.s5.e2.title2')}</h4>
                <ul class="text-align-justify infinity-list">
                    <li>{t('filosofie.s5.e2.list1')}</li>
                    <li>{t('filosofie.s5.e2.list2')}</li>
                    <li>{t('filosofie.s5.e2.list3')}</li>
                    <li>{t('filosofie.s5.e2.list4')}</li>
                </ul>
            </div>
    
            <div>
                <h3 class="text-red">{t('filosofie.s5.e3.title1')}</h3>
                <Image src={hart_rond} alt="Tekening van hart" height={500} width={500}/>
                <h4 class="text-red">{t('filosofie.s5.e3.title2')}</h4>
                <ul class="text-align-justify infinity-list">
                    <li>{t('filosofie.s5.e3.list1')}</li>
                    <li>{t('filosofie.s5.e3.list2')}</li>
                    <li>{t('filosofie.s5.e3.list3')}</li>
                </ul>
            </div>
    
            <div>
                <h3 class="text-red">{t('filosofie.s5.e4.title1')}</h3>
                <Image src={lichaam_rond} alt="Tekening van lichaam" height={500} width={500}/>
                <h4 class="text-red">{t('filosofie.s5.e4.title2')}</h4>
                <ul class="text-align-justify infinity-list">
                    <li>{t('filosofie.s5.e4.list1')}</li>
                    <li>{t('filosofie.s5.e4.list2')}</li>
                    <li>{t('filosofie.s5.e4.list3')}</li>
                    <li set:html={t('filosofie.s5.e4.list4')}/>
                </ul>
            </div>
        </div>
    </section>
    <section class="s6 back-red text-white text-align-center">
		<h3 set:html={t("aanbod.s6.text")}/>
	</section>
    <section class="s8 back-white text-black text-align-center">
		<h3 set:html={t("aanbod.s8.text")}/>
	</section>
    <section class="s1 back-gray text-align-center">
        <h1 class="text-red">{t('filosofie.s1.title')}</h1>
        <p class="text-gray" set:html={t('filosofie.s1.text')}/>
    </section>
    <section class="s2 back-red text-white center">
        <div class="grid col3">
            <div>
                <p class="title">{t('filosofie.s2.col1.title')}</p>
                <p>{t('filosofie.s2.col1.text1')}</p>
                <ul>
                    <li>{t('filosofie.s2.col1.list1')}</li>
                    <li>{t('filosofie.s2.col1.list2')}</li>
                    <li>{t('filosofie.s2.col1.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col1.text2')}</p>
                <p>{t('filosofie.s2.col1.text3')}</p>
            </div>
    
            <div>
                <p class="title">{t('filosofie.s2.col2.title')}</p>
                <p>{t('filosofie.s2.col2.text1')}</p>
                <p>{t('filosofie.s2.col2.text2')}</p>
                <ul>
                    <li>{t('filosofie.s2.col2.list1')}</li>
                    <li>{t('filosofie.s2.col2.list2')}</li>
                    <li>{t('filosofie.s2.col2.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col2.text3')}</p>
            </div>
    
            <div>
                <p class="title">{t('filosofie.s2.col3.title')}</p>
                <p>{t('filosofie.s2.col3.text1')}</p>
                <p>{t('filosofie.s2.col3.text2')}</p>
                <ul>
                    <li>{t('filosofie.s2.col3.list1')}</li>
                    <li>{t('filosofie.s2.col3.list2')}</li>
                    <li>{t('filosofie.s2.col3.list3')}</li>
                </ul>
                <p>{t('filosofie.s2.col3.text3')}</p>
            </div>
        </div>
    </section>

    <section class="s3 back-gray text-gray center">
        <div class="grid col3">
            <div>
                <p class="title">{t('filosofie.s3.col1.title')}</p>
                <p>{t('filosofie.s3.col1.text1')}</p>
                <ul>
                    <li>{t('filosofie.s3.col1.list1')}</li>
                    <li>{t('filosofie.s3.col1.list2')}</li>
                    <li>{t('filosofie.s3.col1.list3')}</li>
                </ul>
                <p>{t('filosofie.s3.col1.text2')}</p>
            </div>
            <div>
                <p class="title">{t('filosofie.s3.col2.title')}</p>
                <p>{t('filosofie.s3.col2.text1')}</p>
                <p>{t('filosofie.s3.col2.text2')}</p>
                <ul>
                    <li>{t('filosofie.s3.col2.list1')}</li>
                    <li>{t('filosofie.s3.col2.list2')}</li>
                    <li>{t('filosofie.s3.col2.list3')}</li>
                </ul>
                <p>{t('filosofie.s3.col2.text3')}</p>
            </div>
            <div>
                <p class="title">{t('filosofie.s3.col3.title')}</p>
                <p>{t('filosofie.s3.col3.text1')}</p>
                <p>{t('filosofie.s3.col3.text2')}</p>
                <p>{t('filosofie.s3.col3.text3')}</p>
            </div>
        </div>
    </section>
    <ContactSection color='red'/>
</Layout>

<style>
    section{
        padding: 2rem;
    }

    .title{
        font-weight: 600;
        font-size: 1.3rem;
    }

    .col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        width: 100%;
        max-width: 1200px;
        align-items: start;
    }

    .s5 img {
        width: 100%;
        height: auto;
        max-width: 500px;
        margin-bottom: 1rem;
    }

    /* Responsive */
    @media (max-width: 925px) {
        .col2 {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        .s5 img {
            max-width: 100%;
        }
    }
</style>