---
import Layout from '../../../layouts/Layout.astro';
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
import ContactSection from '@components/Contact-section.astro';
import Prices from '@components/Prices.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export { getStaticPaths };
---

<Layout title={t('aanbod.title')}>
	<section class="forWho text-align-center back-gray text-gray">
		<h1 class="text-red" set:html={t('aanbod.forwho.title')} />
		<p set:html={t('aanbod.forwho.text')} />
	</section>
	<Prices color='white'/>
	<section class="quotes back-red text-align-center center">
        <div class="col3">
            <p class="text-white" set:html={t('quotes.text1')} />
            <p class="text-black" set:html={t('quotes.text2')} />
            <p class="text-white" set:html={t('quotes.text3')} />
            <p class="text-black" set:html={t('quotes.text4')} />
            <p class="text-white" set:html={t('quotes.text5')} />
            <p class="text-black" set:html={t('quotes.text6')} />
            <p class="text-white" set:html={t('quotes.text7')} />
            <p class="text-black" set:html={t('quotes.text8')} />
            <p class="text-white" set:html={t('quotes.text9')} />
        </div>
    </section>
	<section class="methodieken back-red text-white center">
		<div class="container">
			<h4 class="border-bottom text-align-center">{t('methodieken.title')}</h4>
			<p class="text-align-center border-bottom" set:html={t('methodieken.text')}/>
			<div class="col2">
				<div>
					<ul class="infinity-list">
						<li>Hartcoherentie - Heartmath</li>
						<li>Footprints - Reconstructive International School - Carola Castillo</li>
						<li>Reconstructive - Reconstructive International School - Carola Castillo</li>
						<li>InterFamilySystems - IFS instituut</li>
						<li>A Parts Approach to Preverbal Attachment Trauma - nicabem</li>
						<li>Talentgedreven coachen - BlijMetMijAcademie</li>
						<li>Familie Opstellingen - Stephan Hausser</li>
					</ul>
				</div>
				<div>
					<ul class="infinity-list">
						<li>Mastering the Treatment of Trauma - nicabem</li>
						<li>Advanced Mastering program on Treatment of Trauma - nicabem</li>
						<li>Working with Emerging Adults: Key Factors That Can Impact Treatment - nicabem</li>
						<li>How to work with shame - nicabem</li>
						<li>Radical Compassion - Tara Brach</li>
						<li> Meditatie - Mindfulness</li>
						<li>SAND - Indigenous wisdom and healing</li>
					</ul>
				</div>
			</div>	
		</div>
	</section>
	
	<ContactSection/>
	<section class="openHartcirkels back-white text-gray center">
		<h3 class="text-red bold">{t('openHartCirkels.title')}</h3>
		<p>{t('openHartCirkels.text')} <a href="#" class="text-red">www.hartcirkels.be</a></p>
	</section>
	<section class="s6 back-red text-white text-align-center">
		<h3 set:html={t("aanbod.s6.text")}/>
	</section>
	<section class="s7 back-white text-red text-align-center">
		<h3 set:html={t("aanbod.s7.text")}/>
	</section>
	<section class="s8 back-red text-white text-align-center">
		<h3 set:html={t("aanbod.s8.text")}/>
	</section>
</Layout>

<style>
	section {
		padding: 2rem;
	}

	.methodieken .container{
		width: 60%;
	}

	.methodieken .border-bottom {
		border-bottom: 1px solid rgba(255, 255, 255, 0.333);
		padding: 2rem;
	}

	.methodieken .col2 {
		grid-template-columns: 1fr 1fr;
	}


	@media (max-width: 900px){
		.methodieken .col2 {
			grid-template-columns: auto;
		}
	}
</style>
