---
import { Image } from 'astro:assets';
import Layout from '../../../layouts/Layout.astro';
import adem_rond from '../../../assets/rondevormen/adem_rond.png';
import bewustzijn_rond from '../../../assets/rondevormen/bewustzijn_rond.png';
import hart_rond from '../../../assets/rondevormen/hart_rond.png';
import lichaam_rond from '../../../assets/rondevormen/lichaam_rond.png';
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
import ContactSection from '@components/Contact-section.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export { getStaticPaths };
---

<Layout title={t('aanbod.title')}>
	<section class="s1 text-align-center back-gray text-gray">
		<h1 class="text-red" set:html={t('aanbod.s1.title')} />
		<p set:html={t('aanbod.s1.text')} />
	</section>
	<section class="s2 back-red text-white center">
		<div class="container">
			<h4 class="border-bottom text-align-center">{t('aanbod.s2.text1')}</h4>
			<p class="text-align-center border-bottom" set:html={t('aanbod.s2.text3')}/>
			<div class="col2">
				<div>
					<ul class="infinity-list">
						<li>Hartcoherentie - Heartmath</li>
						<li>Footprints - Reconstructive International School - Carola Castillo</li>
						<li>Reconstructive - Reconstructive International School - Carola Castillo</li>
						<li>InterFamilySystems - IFS instituut</li>
						<li>A Parts Approach to Preverbal Attachment Trauma - nicabem</li>
						<li>Talentgedreven coachen - BlijMetMijAcademie</li>
						<li>Familie Opstellingen - Stephan Hausser</li>
					</ul>
				</div>
				<div>
					<ul class="infinity-list">
						<li>Mastering the Treatment of Trauma - nicabem</li>
						<li>Advanced Mastering program on Treatment of Trauma - nicabem</li>
						<li>Working with Emerging Adults: Key Factors That Can Impact Treatment - nicabem</li>
						<li>How to work with shame - nicabem</li>
						<li>Radical Compassion - Tara Brach</li>
						<li> Meditatie - Mindfulness</li>
						<li>SAND - Indigenous wisdom and healing</li>
					</ul>
				</div>
			</div>	
		</div>
	</section>
	<ContactSection/>

	<section class="s4 back-red center text-white">
		<div class="col2">
			<div>
				<p class="bold">{t('aanbod.s4.e1.title1')}</p>
				<ul class="infinity-list">
					<li>{t('aanbod.s4.e1.li1')}</li>
					<li>{t('aanbod.s4.e1.li2')}</li>
				</ul>
				<p class="bold">{t('aanbod.s4.e1.title2')}</p>
				<p>{t('aanbod.s4.e1.text1')}</p>
				<p>{t('aanbod.s4.e1.text2')}</p>
			</div>
			<div>
				<p class="bold">{t('aanbod.s4.e2.title1')}</p>
				<ul class="infinity-list">
					<li>{t('aanbod.s4.e2.li1')}</li>
					<li>{t('aanbod.s4.e2.li2')}</li>
				</ul>
				<p class="bold">{t('aanbod.s4.e2.title2')}</p>
				<ul class="infinity-list">
					<li>{t('aanbod.s4.e2.li3')}</li>
					<li>{t('aanbod.s4.e2.li4')}</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="s5 back-white text-gray center">
		<h3 class="text-red bold">{t('aanbod.s5.title')}</h3>
		<p>{t('aanbod.s5.text')} <a href="#" class="text-red">www.hartcirkels.be</a></p>
	</section>
	<section class="s6 back-red text-white text-align-center">
		<h3 set:html={t("aanbod.s6.text")}/>
	</section>
	<section class="s7 back-white text-red text-align-center">
		<h3 set:html={t("aanbod.s7.text")}/>
	</section>
	<section class="s8 back-red text-white text-align-center">
		<h3 set:html={t("aanbod.s8.text")}/>
	</section>
</Layout>

<style>
	section {
		padding: 2rem;
	}

	.s2 .container{
		width: 60%;
	}

	.s2 .border-bottom {
		border-bottom: 1px solid rgba(255, 255, 255, 0.333);
		padding: 2rem;
	}

	.s2 .col2 {
		grid-template-columns: 1fr 1fr;
	}

	.s4 .col2 {
		grid-template-columns: 500px 500px;
	}

	@media (max-width: 900px){
		.s2 .col2 {
			grid-template-columns: auto;
		}
	}

	@media (max-width: 1200px){
		.s4 .col2 {
			display: flex;
			flex-direction: column;
			width: 70vw;
			max-width: 500px;
		}

		.s4 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
</style>
